/* AboutPage.css */


  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #030303;
  }
  
  .about-summary {
    font-size: 1.2rem;
    
    line-height: 1;
    max-width: 800px;
    color: #131111;
    display: flex;
    justify-content: left;
  }
  
  .about-highlights-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #060607;
  }
  
  .about-highlights-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
  
    color: #060607;
    display: flex;
    
  }
  
  .about-highlights-list li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
    color: #060607;
    display: flex;
   
  }
  
  .about-highlights-list li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: #27ae60;
    font-weight: bold;
  }